<template>
    <div class="findpassword">
        <p class="title">——PowerSpace——</p>
        <div class="content">
            <p class="explain">请输入您的账号邮箱进行密码重置</p>
            <p class="emile">
                <span>
                    <img src="../../assets/u157.png" alt="">
                </span>
                <span>
                    <input type="text" placeholder="邮箱" v-model="emileVal">
                </span>
                <!-- <span><input type="text" placeholder="邮箱" v-model="emileVal" v-validate:emile="['emile']"></span> -->
            </p>
            <span class="reminder">{{reminder}}</span>
            <p>
                <button class="submit_btn" @click="submit_emile">提交</button>
            </p>
            <p>
                <a href="#/login">返回登陆页</a>
            </p>
        </div>
    </div>
</template>
<script>
export default {
    name: "findpassword",
    data() {
        return {
            emileVal: "",
            reminder: '',
            emile: ''
        }
    },
    methods: {
        submit_emile() {
            let reg = /^\w+@\w+\.(com|net|com\.cn|on)$/;
            if (this.emileVal == '') {
                this.reminder = "*请输入邮箱";
            } else if (reg.test(this.emileVal)) {
                this.reminder = "*邮箱格式正确";
                setTimeout(() => {
                    this.$router.push("/resigin");
                }, 500);
                var ls = window.localStorage;
                ls.setItem("saveEmile", this.emileVal)
                var save_emile = Date.parse(new Date());
                save_emile = save_emile / 1000;
                ls.setItem("time", save_emile)
            } else {
                this.reminder = "*请输入正确格式的邮箱";
            }
        }
    }
}
</script>
<style lang="scss" scoped>
.findpassword {
    width: 100%;
    height: 100%;
    .title {
        width: 60%;
        margin-left: 20%;
        font-size: 30px;
        text-align: center;
        margin-top: 10%;
    }
    .content {
        width: 20%;
        height: 50%;
        margin-left: 40%;
        p {
            width: 100%;
            height: 31px;
            margin-top: 20px;
            text-align: center;
            line-height: 30px;
            a {
                color: #000;
                text-decoration: underline;
            }
        }
        .explain {
            font-size: 16px;
        }
        .emile {
            border: 1px solid #ccc;
            display: flex;
            padding-left: 10px;
            span:nth-child(1) {
                width: 30px;
                height: 30px;
                display: inline-block;
                img {
                    margin-top: 5px;
                }
            }
            span:nth-child(2) {
                flex: 1;
                height: 30px;
                input {
                    width: 100%;
                    height: 28px;
                    border: none;
                    outline: none;
                }
            }
        }
        .submit_btn {
            width: 100%;
            height: 100%;
            background: blue;
            color: #fff;
            border: none;
            border-radius: 5px;
        }
    }
}
</style>