<template>
    <div class="login">
        <Row justify="center" type="flex">
            <Col span="8">
            <p class="title">——users landing——</p>
            <Form ref="formInline" :model="formInline" :rules="ruleInline" inline>
                <Form-item prop="user" class="login_input">
                    <Input type="text" v-model="formInline.user" placeholder="Username">
                    <Icon type="ios-person-outline" slot="prepend"></Icon>
                    </Input>
                </Form-item>
                <br/>
                <Form-item prop="password" class="login_input">
                    <Input type="password" v-model="formInline.password" placeholder="Password">
                    <Icon type="ios-locked-outline" slot="prepend"></Icon>
                    </Input>
                </Form-item>
                <br/>
                <p class="about_password">
                    <span>
                        <input type="checkbox" class="rember">记住密码</span>
                    <span @click="find_passwrod" class="forget">忘记密码</span>
                </p>
                <Form-item>
    
                    <Button type="primary" @click="handleSubmit('formInline')" class="login_btn">登录</Button>
                </Form-item>
            </Form>
            </Col>
        </Row>
    </div>
</template>
<script>
export default {
    name: "login",
    data() {
        return {
            formInline: {
                user: '',
                password: ''
            },
            ruleInline: {
                user: [
                    { required: true, message: '请填写用户名', trigger: 'blur' }
                ],
                password: [
                    { required: true, message: '请填写密码', trigger: 'blur' },
                    { type: 'string', min: 6, message: '密码长度不能小于6位', trigger: 'blur' }
                ]
            }
        }
    },
    methods: {
        handleSubmit(name) {
            this.$refs[name].validate((valid) => {
                if (valid) {
                    this.$Message.success('提交成功!');
                    this.$router.push({
                        name:"space",
                        params:{
                            "index":"space"
                        }
                    })
                } else {
                    this.$Message.error('表单验证失败!');
                }
            })
        },
        find_passwrod() {
            this.$router.push("/Findpassword")
        }
    }
}
</script>
<style lang="scss" scoped>
* {
    margin: 0;
}
.login{
    text-align: center;
    margin-top: 10%;
}
.title {
    font-size: 30px;
    margin-top: 10%;
    margin-bottom: 30px;
}

.login_input {
    width: 80%;
    height: 50px;
}

.login_btn {
    padding: 5px 50px;
}

.about_password {
    width: 80%;
    height: 35px;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    .rember{
        
    }   
    .forget{
        float: right;
    }
}
</style>


