<template>
        <div class="resgin">  
            <div class="header">
                <Row>
                    <Col span="6">纳什空间</Col>
                    <Col span="18"></Col>
                </Row>
            </div>
            <div class="content">
                <p class="reset">重设密码</p>
                <p class="lose_tip"><span>x</span> 重设密码连接失效</p>
                <p><a href="/login">返回登陆页</a></p>
            </div>
        </div>
</template>
<script>
    export default{
        name:"lose_efficacy"
    }
</script>
<style lang="scss" scoped>
    *{
        margin: 0;
        padding: 0;
    }
    .resgin{
        width:100%;
        height:100%;
        .header{
            width:100%;
            height:70px;
            background:#000;
            color:#fff;
            .ivu-col-span-6{
                font-size:30px;
                line-height: 70px;
                text-align: center;
                border-right:1px solid silver;
            }
        }
        .content{
            width:90%;
            height:80%;
            margin:20px 5%;
            p{
               text-align:left; 
            }
            p:nth-child(3){
                padding-left:50px;
                margin-top:10px;
            }
            .reset{
                width:100%;
                height:50px;
                background:#bfbfbf;
                line-height:50px;
                font-size:24px;
                padding:0 20px;
            }
            .lose_tip{
                width:100%;
                height:50px;
                font-size:25px;
                margin-top:50px;
                padding-left:30px;
                span{
                    width:30px;
                    height:30px;
                    border:2px solid #000;
                    border-radius: 100%;
                    display: inline-block;
                    text-align: center;
                    line-height: 30px;
                    margin-top:10px;
                }
            }  
        }
    }
    
</style>