<template>
        <div class="resgin">  
            <div class="header">
                <Row>
                    <Col span="6">纳什空间</Col>
                    <Col span="18"></Col>
                </Row>
            </div>
            <div class="content">
                <p class="reset">重设密码</p>
                <ul class="account">
                    <li>账户</li>
                    <li>{{emile}}</li>
                </ul>
                <ol class="pwd_info">
                    <li>设置新密码</li>
                    <li><input type="password" placeholder="新密码" v-model="newpwdVal" @blur="newpwd"><span v-if="showTipone">*6-16个字符，数字与字母组合，区分大小写</span></li>
                    <li><input type="password" placeholder="确认密码" v-model="affirmpwdVal" @blur="affirmpwd"><span v-if="showTiptwo"><b>!</b>请输入确认密码</span></li>
                    <li><button @click="savePwd">保存</button></li>
                </ol>
            </div>
        </div>
</template>
<script>
export default {
  name:"resgin",
  data(){
      return {
          emile:"",
          newpwdVal:"",
          affirmpwdVal:"",
          showTipone:false,
          showTiptwo:false,
          time_difference:0
      }
  },
  mounted(){
      var ls=window.localStorage;
      this.emile=ls.getItem("saveEmile");
  },
  methods:{
      newpwd:function(){
        let reg=/^[a-zA-Z0-9]{6,16}$/;
        if(!reg.test(this.newpwdVal)){
            this.showTipone=true;
        }else{
            this.showTipone=false;
        }
      },
      affirmpwd:function(){
            if(this.affirmpwdVal==this.newpwdVal){
                this.showTiptwo=false;
            }else{
                this.showTiptwo=true;
            }
      },
      savePwd:function(){
          if(this.showTipone==false && this.showTiptwo==false && this.newpwdVal!="" && this.affirmpwdVal!=""){
              var save_pwd = Date.parse(new Date());
              var ls=window.localStorage;
                  save_pwd = save_pwd / 1000;
              this.time_difference=save_pwd-ls.getItem("time");
              if(this.time_difference>20){
                  this.$router.push("/Lose_efficacy")
              }else{
                  this.$router.push("/login")
              }
          }
      }
  }
}
</script>
<style lang="scss" scoped>
    *{
        margin: 0;
        padding: 0;
    }
    .resgin{
        width:100%;
        height:100%;
        .header{
            width:100%;
            height:70px;
            background:#000;
            color:#fff;
            .ivu-col-span-6{
                font-size:30px;
                line-height: 70px;
                text-align: center;
                border-right:1px solid silver;
            }
        }
        .content{
            width:90%;
            height:80%;
            margin:20px 5%;
            .reset{
                width:100%;
                height:50px;
                background:#bfbfbf;
                text-align:left;
                line-height:50px;
                font-size:24px;
                padding:0 20px;
            }
            .account{
                margin-top:50px;
            }
            .account,.pwd_info{
                width:100%;
                height:100px;
                padding:0 30px;
                li{
                    text-align:left;
                    font-size:16px;
                    line-height:50px;
                    input{
                        width:300px;
                        height:40px;
                        padding:0 10px;
                    }
                    span{
                        margin-left:10px;
                        b{
                            width:20px;
                            height:20px;
                            border-radius:100%;
                            display:inline-block;
                            background:orangered;
                            color:#fff;
                            text-align:center;
                            line-height:20px;
                        }
                    }
                    button{
                        width:100px;
                        background: orangered;
                        color:#fff;
                        border-radius: 5px;
                        border:none;
                        height:40px;
                        line-height: 40px;
                    }
                }
            }
        }
    }  
</style>


