<template>
    <div class="cannotAccess">
        <div class="cannotAccess-top">
            <Row>
                <Col span="6">纳什空间</Col>
                <Col span="18">
                <img src="../../assets/img/2.png" alt=""> 资产管理
                </Col>
            </Row>
        </div>
        <div class="cannotAccess-bott">
            <div class="cannotAccess-content">
                <div class="cannotAccess-img">
                    <img src="../../assets/img/5.png" alt="">
                    <p>
                        您没有权限访问该页面，请点击
                        <a href="">返回首页</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "error2"
    }

</script>
<style lang="scss">
    * {
        margin: 0;
        padding: 0;
    }

    ul,
    ol {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    html,
    body,
    .cannotAccess,
    #app {
        width: 100%;
        height: 100%;
    }

    .cannotAccess {
        overflow: hidden;
        background: #eee;
        -webkit-font-smoothing: antialiased;
        font-family: "微软雅黑";
        .cannotAccess-top {
            width: 100%;
            height: 60px;
            line-height: 60px;
            background: rgba(62, 64, 66, 1);
            color: #fff;
            position: relative;
            .ivu-col-span-6 {
                font-weight: 700;
                font-size: 18px;
                text-align: left;
                padding-left: 12px;
                border-right: 1px solid #787878;
            }
            .ivu-col-span-18 {
                color: #d7d7d7;
                font-size: 16px;
                text-align: left;
                padding-left: 34px;
                /* background: url("../../assets/img/2.png") no-repeat center left; */
            }
        }
        .cannotAccess-bott {
            width: 100%;
            height: 100%;
            position: relative;
            .cannotAccess-content {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
            }
        }
        .cannotAccess-img {
            width: 100%;
            height: 100%;
            margin: 20px 0;
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
            p {
                color: #0d0d0d;
                line-height: 40px;
            }
        }
    }
</style>