<template>
    <div class="no-permission">
        <div class="permission-top">
            <Row>
                <Col span="6">纳什空间</Col>
                <Col span="18">资产管理</Col>
            </Row>
        </div>
        <div class="permission-bott">
            <div class="permission-content">
                <div class="permission-text">
                    出错啦！
                </div>
                <div class="permission-img">
                    <img src="../../assets/img/1.png" alt="">
                    <span class="alt">404</span>
                    <p>啊哦~一不小心闯进了未知领域，请点击下面按钮返回首页...</p>
                </div>   
                <div class="permission-btn">
                    <button>返回首页</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "error"
    }

</script>
<style lang="scss">
    * {
        margin: 0;
        padding: 0;
    }

    ul,
    ol {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    html,
    body,
    .no-permission,
    #app {
        width: 100%;
        height: 100%;
    }

    .no-permission {
        overflow: hidden;
        background: #eee;
        -webkit-font-smoothing: antialiased;
        font-family: "微软雅黑";
        .permission-top {
            width: 100%;
            height: 60px;
            line-height: 60px;
            background: rgba(62, 64, 66, 1);
            color: #fff;
            position: relative;
            .ivu-col-span-6 {
                font-weight: 700;
                font-size: 18px;
                text-align: left;
                padding-left: 12px;
                border-right: 1px solid #787878;
            }
            .ivu-col-span-18 {
                color: #d7d7d7;
                font-size: 16px;
                text-align: left;
                padding-left: 20px;
                background: url("../../assets/img/2.png") no-repeat center left;
                position: absolute;
                left: 29%;
            }
        }
        .permission-bott {
            width: 100%;
            height: 100%;
            position: relative;
            .permission-content {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                .permission-text {
                    font-size: 16px;
                    font-weight: 800;
                    line-height: 40px;
                    text-align: left;
                    color: #333;
                }
                .permission-img {
                    width: 100%;
                    height: 100%;
                    margin: 20px 0;
                    position: relative;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    p {
                        color: #0d0d0d;
                        line-height: 40px;
                    }
                    .alt {
                        position: absolute;
                        top: 30%;
                        left: 72%;
                        transform: translate3d(-30%, -72%, 0);
                        color: #333;
                        font-size: 72px;
                        font-weight: bold;
                    }
                }
                .permission-btn button {
                    background: #169BD5;
                    color: #fff;
                    border-radius: 5px;
                    border: none;
                    width: 140px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                }
            }
        }
    }
</style>