<template>
    <div>
        <Row class="moment_title">
            <Col span="6" class="nashwork">纳什空间</Col>
            <Col span="16" class="manage">
            <Icon type="grid"></Icon>
            资产管理
            </Col>
            <Col span="2" class="font">
            <Icon type="navicon-round" class="many"></Icon>
            <span>|</span>
            <Icon type="android-person" class="use"></Icon>
            </Col>
        </Row>
        <Row>
            <Col span="4">
                       <Menu active-name="1-2" width="auto" :open-names="['3']">
                        <Submenu name="1">
                            <template slot="title">
                                <Icon type="ios-keypad"></Icon>
                                资金管理
                            </template>
                            <Menu-item name="2-1">选项 1</Menu-item>
                            <Menu-item name="2-2">选项 2</Menu-item>
                        </Submenu>
                        <Submenu name="2">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                                空间管理
                            </template>
                            <Menu-item name="2-1"><a href="#/space">空间管理</a></Menu-item>
                            <Menu-item name="2-2">选项 2</Menu-item>
                        </Submenu>
                        <Submenu name="3">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               用户信息
                            </template>
                            <Menu-item name="3-1"><a href="#/user">成员管理</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/adduser">添加用户</a></Menu-item>
                        </Submenu>
                        <Submenu name="4">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               品牌管理
                            </template>
                            <Menu-item name="4-1"><a href="#/brandlist">品牌管理</a></Menu-item>
                            <Menu-item name="4-2"><a href="#/buildinglist">楼宇列表</a></Menu-item>
                            <Menu-item name="4-3"><a href="#/feedback">意见反馈</a></Menu-item>
                        </Submenu>
                         <Submenu name="5">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               意见反馈
                            </template>
                            <Menu-item name="3-1"><a href="#/opinion">意见反馈</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/helper">使用帮助</a></Menu-item>
                        </Submenu>
                    </Menu>
            </Col>
            <Col span="20">
                <Row class="moment_manage">
                    <Col span="5" class="moments">
                    <span class="moment">成员管理</span>
                    <span>　>　</span>
                    <span class="addMoment">添加成员</span>
                    </Col>
                </Row>
                <Row>
                    <Col span="4" class="msg">基本信息</Col>
                    <Col span="11" offset="11"></Col>
                </Row>
                <Row>
                    <Col span="23" class="lines"></Col>
                </Row>
                <Row class="moment_name">
                    <Col span="3" class="name">姓　　名:</Col>
                    <Col span="6" class="nameInp">
                    <Input v-model="value" placeholder="请输入..." style="width: 300px"></Input>
                    </Col>
                </Row>
                <Row class="moment_email">
                    <Col span="3" class="email">邮　　箱:</Col>
                    <Col span="6" class="emailInp">
                    <Input v-model="value" placeholder="请输入..." style="width: 300px"></Input>
                    </Col>
                </Row>
                <Row class="moment_tel">
                    <Col span="3" class="tel">电话号:</Col>
                    <Col span="6" class="telInp">
                    <Input v-model="value" placeholder="请输入..." style="width: 300px"></Input>
                    </Col>
                </Row>
                <Row>
                    <Col span="4" class="role">角色设置</Col>
                </Row>
                <Row>
                    <Col span="23" class="lines"></Col>
                </Row>
                <Row class="role_set">
                    <Col span="2" class="sonrole">角色设置:</Col>
                    <Col span="2" class="sonrolePeo">
                    <Radio v-model="single" class="sonrolePeos">管理员</Radio>
                    </Col>
                    <Col span="8" class="limit"> 拥有全部权限和全部楼宇、网点管辖权限
                    </Col>
                </Row>
                <Row class="common">
                    <Col span="2" class="hides">需要隐藏:</Col>
                    <Col span="2" class="sonrolePeo">
                    <Radio-group v-model="animal">
                        <Radio label="普通用户"></Radio>
                    </Radio-group>
                    </Col>
                    <Col span="8" class="limit"> 拥有部分权限和全部楼宇网点管辖权限
                    </Col>
                </Row>
                <Row>
                    <Col span="4" class="funlimit">功能权限</Col>
                </Row>
                <Row>
                    <Col span="23" class="lines"></Col>
                </Row>
                <Row class="flow">
                    <Col span="3" class="flowset">楼宇管理:</Col>
                    <Col span="3" class="sonrolePeo">
                    <Checkbox v-model="single">楼宇组别管理</Checkbox>
                    </Col>
                    <Col span="3" class="sonrolePeo">
                    <Checkbox v-model="single">新增/修改楼宇</Checkbox>
                    </Col>
                    <Col span="3" class="sonrolePeo">
                    <Checkbox v-model="single">新增/修改房源</Checkbox>
                    </Col>
                </Row>
                <Row class="branch">
                    <Col span="3" class="branchset">楼宇管理:</Col>
                    <Col span="3" class="sonrolePeo">
                    <Checkbox v-model="single">网点组别管理</Checkbox>
                    </Col>
                    <Col span="3" class="sonrolePeo">
                    <Checkbox v-model="single">新增/修改网点</Checkbox>
                    </Col>
                    <Col span="3" class="sonrolePeo">
                    <Checkbox v-model="single">新增/修改网点</Checkbox>
                    </Col>
                </Row>
                <Row>
                    <Col span="23" class="lines"></Col>
                </Row>
                <Row>
                    <Col span="4" class="adminlimit">管辖权限</Col>
                </Row>
                <Row class="range">
                    <Col span="2" class="rangerole">楼宇范围:</Col>
                </Row>
                <Row class="check">
                    <Col span="3" class="soncheck">
                    <Checkbox v-model="single">全选</Checkbox>
                    </Col>
                </Row>
                <Row class="botcheck">
                    <Col span="3" class="botchecks">
                    <Checkbox v-model="single">未分组</Checkbox>
                    </Col>
                    <Col span="10" class="otherchecks">
                    <Checkbox v-model="single" class="sonother">北京像素</Checkbox>
                    <Checkbox v-model="single" class="sonother">建外SOHO</Checkbox>
                    <Checkbox v-model="single" class="sonother">建外SOHO</Checkbox>
                    <Checkbox v-model="single" class="sonother">建外SOHO</Checkbox>
                    </Col>
                </Row>
                <Row class="botchecktwo">
                    <Col span="3" class="botchecks">
                    <!-- 未分组 -->
                    </Col>
                    <Col span="10" class="otherchecks">
                    <Checkbox v-model="single" class="sonother">北京像素</Checkbox>
                    <Checkbox v-model="single" class="sonother">建外SOHO</Checkbox>
                    </Col>
                </Row>
                <Row class="jinwest">
                    <Col span="3" class="botchecks">
                    <Checkbox v-model="single">京西</Checkbox>
                    </Col>
                    <Col span="10" class="otherchecks">
                    <Checkbox v-model="single" class="sonother">北京像素</Checkbox>
                    <Checkbox v-model="single" class="sonother">建外SOHO</Checkbox>
                    </Col>
                </Row>
                <Row class="jinsouch">
                    <Col span="3" class="botchecks">
                    <Checkbox v-model="single">京男</Checkbox>
                    </Col>
                    <Col span="10" class="otherchecks">
                    <Checkbox v-model="single" class="sonother">北京像素</Checkbox>
                    <Checkbox v-model="single" class="sonother">建外SOHO</Checkbox>
                    </Col>
                </Row>
                <Row class="networkrange">
                    <Col span="2" class="rangerole">网点范围:</Col>
                </Row>
                <Row class="belowcheck">
                    <Col span="3" class="soncheck">
                    <Checkbox v-model="single">全选</Checkbox>
                    </Col>
                </Row>
                <Row class="wangjing">
                    <Col span="3" class="botchecks">
                    <Checkbox v-model="single">望京</Checkbox>
                    </Col>
                    <Col span="10" class="otherchecks">
                    <Checkbox v-model="single" class="sonother">(优客工厂)北京像素</Checkbox>
                    <Checkbox v-model="single" class="sonother">(优客工厂)北京像素</Checkbox>
                    <Checkbox v-model="single" class="sonother">(优客工厂)北京像素</Checkbox>
                    </Col>
                </Row>
                <Row class="sun">
                    <Col span="3" class="botchecks">
                    <Checkbox v-model="single">朝阳</Checkbox>
                    </Col>
                    <Col span="10" class="otherchecks">
                    <Checkbox v-model="single" class="sonother">(优客工厂)北京像素</Checkbox>
                    </Col>
                </Row>
                <Row class="btnsuccess">
                    <Button type="info" class="btn">确定</Button>
                </Row>
            </Col>
        </Row>

        
    </div>
</template>
<script>
    export default {
        name: "login",
        data() {
            return {
                value: '',
                single: false,
                animal: '普通用户',
                single: false
            }
        }
    }
</script>
<style lang="scss" scoped>
    * {
        margin: 0;
        box-sizing: border-box;
    }

    .msg,
    .moment_name,
    .moment_email,
    .moment_tel,
    .role,
    .role_set,
    .hide,
    .common,
    .funlimit,
    .flowset,
    .branchset,
    .adminlimit,
    .range {
        padding-left: 20px;
    }

    .check,
    .botcheck,
    .botchecktwo,
    .jinwest,
    .jinsouch,
    .networkrange,
    .belowcheck,
    .wangjing,
    .sun,
    .btnsuccess {
        padding-left: 40px;
    }

    .moment_title {
        height: 60px;
        background: #3E4042;
        line-height: 60px;
        .nashwork {
            color: #fff;
            font-weight: bold;
            font-size: 22px;
            padding-left: 20px;
            border-right: 1px solid #ccc;
        }
        .manage {
            color: #D7D7D7;
            font-size: 15px;
            padding-left: 40px;
        }
        .font {
            color: #fff;
        }
    }

    .moment_manage {
        margin: 30px 0;
        .moments {
            padding-left: 20px;
            .moment {
                font-size: 15px;
                font-weight: bold;
            }
            .addMoment {
                font-size: 15px;
            }
        }
    }

    .msg {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .lines {
        height: 2px;
        background: #D7D7D7;
        margin-left: 20px;
    }

    .moment_name {
        margin-top: 30px;
        line-height: 32px;
        .name {
            font-size: 15px;
        }
    }

    .moment_email {
        margin-top: 15px;
        line-height: 32px;
        .email {
            font-size: 15px;
        }
    }

    .moment_tel {
        margin-top: 15px;
        line-height: 32px;
        .tel {
            font-size: 15px;
        }
    }

    .role {
        margin-top: 25px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .role_set {
        margin-top: 30px;
        line-height: 32px;
        .sonrole {
            font-size: 16px;
        }
        .sonrolePeos {
            font-size: 14px;
        }
        .limit {
            color: #ccc;
        }
    }

    .common {
        margin-top: 5px;
        line-height: 32px;
        .hides {
            font-size: 16px;
            width: 8.3%;
            opacity: 0;
        }
        .sonrolePeos {
            font-size: 14px;
        }
        .limit {
            color: #ccc;
        }
    }

    .funlimit {
        margin-top: 50px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .flow {
        margin-top: 20px;
        line-height: 32px;
        .flowset {
            font-size: 15px;
            font-weight: bold;
        }
        .sonrolePeos {
            font-size: 13px;
        }
        .limit {
            color: #ccc;
        }
    }

    .branch {
        line-height: 32px;
        .branchset {
            font-size: 15px;
            font-weight: bold;
        }
        .sonrolePeos {
            font-size: 13px;
        }
        .limit {
            color: #ccc;
        }
    }

    .adminlimit {
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .range {
        margin-top: 10px;
        line-height: 32px;
        .rangerole {
            font-size: 15px;
        }
    }

    .check {
        font-weight: bold;
    }

    .botcheck {
        margin-top: 15px;
        .botchecks {
            font-weight: bold;
        }
    }

    .sonother {
        margin-right: 40px;
    }

    .botchecktwo {
        margin-top: 15px;
        .botchecks {
            height: 1px;
            font-weight: bold;
        }
    }

    .jinwest {
        margin-top: 15px;
        .botchecks {
            height: 1px;
            font-weight: bold;
        }
    }

    .jinsouch {
        margin-top: 15px;
        .botchecks {
            height: 1px;
            font-weight: bold;
        }
    }

    .networkrange {
        margin-top: 50px;
        line-height: 32px;
        .rangerole {
            font-size: 15px;
        }
    }

    .belowcheck {
        margin-top: 10px;
        font-weight: bold;
    }

    .wangjing {
        margin-top: 15px;
        .botchecks {
            height: 1px;
            font-weight: bold;
        }
    }

    .sun {
        margin-top: 15px;
        .botchecks {
            height: 1px;
            font-weight: bold;
        }
    }

    .btnsuccess {
        margin-top: 50px;
        .btn {
            width: 120px;
            height: 35px;
        }
    }
</style>