<template>
    <div class="momentManage">
        <Row class="moment_title">
            <Col span="6" class="nashwork">纳什空间</Col>
            <Col span="16" class="manage">
            <Icon type="grid"></Icon>
            资产管理
            </Col>
            <Col span="2" class="font">
            <Icon type="navicon-round" class="many"></Icon>
            <span>|</span>
            <Icon type="android-person" class="use"></Icon>
            </Col>
        </Row>



        <div class="left">
            <!-- <Row>
                <Col span="20" class="nulls"></Col>
                <Col span="4" class="back">
                <<</Col>
            </Row>
            <Row>
                <Col span="20" class="momentm">
                <Icon type="grid"></Icon>
                成员管理
                </Col>
            </Row> -->
            <Menu active-name="1-2" width="auto" :open-names="['3']">
                        <Submenu name="1">
                            <template slot="title">
                                <Icon type="ios-keypad"></Icon>
                                资金管理
                            </template>
                            <Menu-item name="2-1">选项 1</Menu-item>
                            <Menu-item name="2-2">选项 2</Menu-item>
                        </Submenu>
                        <Submenu name="2">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                                空间管理
                            </template>
                            <Menu-item name="2-1"><a href="#/space">空间管理</a></Menu-item>
                            <Menu-item name="2-2">选项 2</Menu-item>
                        </Submenu>
                        <Submenu name="3">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               用户信息
                            </template>
                            <Menu-item name="3-1"><a href="#/user">成员管理</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/adduser">添加用户</a></Menu-item>
                        </Submenu>
                        <Submenu name="4">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               品牌管理
                            </template>
                            <Menu-item name="4-1"><a href="#/brandlist">品牌管理</a></Menu-item>
                            <Menu-item name="4-2"><a href="#/buildinglist">楼宇列表</a></Menu-item>
                            <Menu-item name="4-3"><a href="#/feedback">意见反馈</a></Menu-item>
                        </Submenu>
                         <Submenu name="5">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               意见反馈
                            </template>
                            <Menu-item name="3-1"><a href="#/opinion">意见反馈</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/helper">使用帮助</a></Menu-item>
                        </Submenu>
                    </Menu>
        </div>
        <div class="right">
            <Row>
                <Col span="2" class="msg">成员管理</Col>
                <Col span="20" class="null">
                </Col>
                <Col span="2" class="font">
                <Button type="success" class="success">+添加成员</Button>
                </Col>
            </Row>
            <Row>
                <Col span="23" class="lines"></Col>
            </Row>
            <Row :gutter="14" class="sel">
                <Col span="6">
                <Select v-model="modelName" style="width:190px">
                    <Option v-for="item in listName" :value="item.value" :key="item.value">{{ item.label }}</Option>
                </Select>
                </Col>
                <Col span="6">
                <Select v-model="modelScope" style="width:190px">
                    <Option v-for="item in listScope" :value="item.value" :key="item.value">{{ item.label }}</Option>
                </Select>
                </Col>
                <Col span="6">
                <Select v-model="modelBranch" style="width:190px">
                    <Option v-for="item in listBranch" :value="item.value" :key="item.value">{{ item.label }}</Option>
                </Select>
                </Col>
                <Col span="6">
                <Select v-model="modelPeopleID" style="width:190px">
                    <Option v-for="item in listPeopleID" :value="item.value" :key="item.value">{{ item.label }}</Option>
                </Select>
                </Col>
            </Row>
            <Row>
                <Col span="6" class="winp">
                <input class="inp" type="text" value="清空所有筛选条件">
                </Col>
            </Row>
            <Row>
                <Col span="24" class="tab">
                <Table border :columns="columns2" :data="data3"></Table>

                </Col>
            </Row>
            <Row>
                <Col span="24" class="tab">
                <Modal v-model="modal2" title="禁用提醒" @on-ok="ok" @on-cancel="cancel">
                    <p>确定{{peoplestatus}}{{name}}{{emil}}的账号吗?</p>
                </Modal>
                </Col>
            </Row>
            <Row class="bigpage">
                <Col span="11" class="page">

                </Col>
                <Col span="13" class="everypage">
                <Page :total="100" show-elevator></Page>
                </Col>
            </Row>
        </div>
    </div>
</template>
<script>
    export default {
        name: "login",
        data() {
            return {
                listName: [{
                        value: 'beijing',
                        label: '北京市'
                    },
                    {
                        value: 'shanghai',
                        label: '上海市'
                    },
                    {
                        value: 'shenzhen',
                        label: '深圳市'
                    },
                    {
                        value: 'hangzhou',
                        label: '杭州市'
                    },
                    {
                        value: 'nanjing',
                        label: '南京市'
                    },
                    {
                        value: 'chongqing',
                        label: '重庆市'
                    }
                ],
                listScope: [{
                        value: 'beijing',
                        label: '东一区'
                    },
                    {
                        value: 'shanghai',
                        label: '东二区'
                    },
                    {
                        value: 'shenzhen',
                        label: '西一区'
                    },
                    {
                        value: 'hangzhou',
                        label: '西二区'
                    },
                    {
                        value: 'nanjing',
                        label: '南三区'
                    },
                    {
                        value: 'chongqing',
                        label: '北五区'
                    }
                ],
                listBranch: [{
                        value: 'beijing',
                        label: '电信西南区'
                    },
                    {
                        value: 'shanghai',
                        label: '电信西北区'
                    },
                    {
                        value: 'shenzhen',
                        label: '电信东南区'
                    },
                    {
                        value: 'hangzhou',
                        label: '电信西北区'
                    },
                    {
                        value: 'nanjing',
                        label: '联通北方区'
                    },
                    {
                        value: 'chongqing',
                        label: '联通东南区'
                    }
                ],
                listPeopleID: [{
                        value: 'beijing',
                        label: '工人'
                    },
                    {
                        value: 'shanghai',
                        label: '农民'
                    },
                    {
                        value: 'shenzhen',
                        label: '白领'
                    },
                    {
                        value: 'hangzhou',
                        label: '蓝领'
                    },
                    {
                        value: 'nanjing',
                        label: '金领'
                    },
                    {
                        value: 'chongqing',
                        label: '主席'
                    }
                ],
                modelName: '',
                modelScope: '',
                modelBranch: "",
                modelPeopleID: "",
                modal2: false,
                emil: "",
                name: "",
                peoplestatus: "",
                columns2: [{
                        title: '序号',
                        key: 'id',
                        width: 100,
                        // fixed: 'left'
                    },
                    {
                        title: '姓名',
                        key: 'name',
                        width: 100
                    },
                    {
                        title: '邮箱',
                        key: 'email',
                        width: 120
                    },
                    {
                        title: '电话号',
                        key: 'tel',
                        width: 100
                    },
                    {
                        title: '创建者',
                        key: 'people',
                        width: 100
                    },
                    {
                        title: '创建时间',
                        key: 'time',
                        width: 200
                    },
                    {
                        title: '身份',
                        key: 'manage',
                        width: 100
                    },
                    {
                        title: '账号状态',
                        key: 'status',
                        width: 100
                    },

                    {
                        title: '操作',
                        key: 'action',
                        // fixed: 'right',
                        width: 120,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'text',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                            this.modal2 = true
                                            if (params.row.sta == "激活") {
                                                params.row.status = "已激活"
                                                params.row.sta = "禁用"
                                                this.peoplestatus = "激活"
                                                this.emil = params.row.email
                                                this.name = params.row.name
                                            } else {
                                                params.row.status = "确认激活中"
                                                params.row.sta = "激活"
                                                this.peoplestatus = "禁用"
                                            }
                                        }
                                    }
                                }, params.row.sta),
                                h('Button', {
                                    props: {
                                        type: 'text',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                            this.modal3 = true
                                        }
                                    }
                                }, '修改')
                            ]);
                        }
                    }
                ],
                data3: [{
                        id: 1,
                        name: '王小明',
                        email: "wang@qq.com",
                        time: '2017/03/10 18:06',
                        tel: '123',
                        people: '张三',
                        manage: "管理员",
                        status: "确认激活中",
                        statued: "已激活",
                        sta: "激活",
                        stas: "未激活",
                        type: "操作"
                    },
                    {
                        id: 2,
                        name: '张小刚',
                        email: "zhang@qq.com",
                        time: '2017/03/10 18:06',
                        tel: '123',
                        people: '张三',
                        manage: "普通用户",
                        status: "确认激活中",
                        sta: "激活",
                        type: "操作"
                    },
                    {
                        id: 3,
                        name: '李小红',
                        email: "li@qq.com",
                        time: '2017/03/10 18:06',
                        tel: '123',
                        people: '张三',
                        manage: "普通用户",
                        status: "确认激活中",
                        sta: "激活",
                        type: "操作"
                    }
                ]
            }
        },
        methods: {
            ok() {
                this.$Message.info('点击了确定');
            },
            cancel() {
                this.$Message.info('点击了取消');
            },
            users() {
                alert(1)
            }
        }
    }
</script>
<style lang="scss" scoped>
    * {
        margin: 0;
        box-sizing: border-box;
    }

    .moment_title {
        height: 60px;
        background: #3E4042;
        line-height: 60px;
        .nashwork {
            color: #fff;
            font-weight: bold;
            font-size: 22px;
            padding-left: 20px;
            border-right: 1px solid #ccc;
        }
        .manage {
            color: #D7D7D7;
            font-size: 15px;
            padding-left: 40px;
        }
        .font {
            color: #fff;
        }
    }

    .momentManage {
        width: 100%;
        height: 100%;
        .left {
            width: 12%;
            background: #F5F5F5;
            display: inline-block;
            .nulls {
                height: 1px;
            }
        }
        .right {
            width: 88%;
            float: right;
            .msg {
                padding-left: 10px;
                font-weight: bold;
                line-height: 50px;
                font-size: 14px;
            }
            .lines {
                height: 2px;
                background: #D7D7D7;
                margin-left: 10px;
            }
            .sel {
                margin-top: 20px;
            }
            .null {
                height: 1px;
            }
            .success {
                margin-top: 10px;
            }
            .sel {
                width: 1080px;
            }
            .winp {
                margin-top: 30px;
                margin-bottom: 30px;
            }
            .ivu-table-cell {
                span {
                    color: blue;
                }
            }
            .inp {
                width: 120px;
                height: 30px;
                border-radius: 20px;
                border: none;
                border: 1px solid #3F3FFF;
                text-align: center;
                line-height: 30px;
            }
            .page {
                height: 1px;
            }
            .bigpage {
                margin-top: 30px;
            }
        }
    }
</style>