<template>
        <div class="login">  
            <p></p>
        <Row class="brandlist_header">
            <Col span="6" class="tit">好租</Col>
            <Col span="4" class="manage_btn">
                <img src="../../assets/u335.png" alt="">
                <span>品牌管理</span>
            </Col>
            <Col span="4" class="manage_btn">
                <img src="../../assets/u335.png" alt="">
                <span>系统管理</span>
            </Col>
            <Col span="4" class="manage_btn">
                <img src="../../assets/u335.png" alt="">
                <span>意见反馈</span>
            </Col>
            <Col span="1" class="none"></Col>
            <Col span="2" class="user_info">                
                <Menu :theme="theme2" width="auto" class="userinfo_menu">
                    <Submenu name="1">
                        <template slot="title">
                            <Icon type="person" class="headerimg"></Icon>
                        </template>
                        <Menu-item name="1-1">账号管理</Menu-item>
                        <Menu-item name="1-2">个人资料</Menu-item>
                        <Menu-item name="1-3">退出登录</Menu-item>
                    </Submenu>
                 </Menu>
            </Col>
        </Row>
        <Row class="brandlist_main">
            <Col span="4" class="manage_list">
                <h3 class="return_page"><span><<</span></h3>
                <Menu active-name="1-2" width="auto" :open-names="['2']">
                        <Submenu name="1">
                            <template slot="title">
                                <Icon type="ios-keypad"></Icon>
                                资金管理
                            </template>
                            <Menu-item name="2-1">选项 1</Menu-item>
                            <Menu-item name="2-2">选项 2</Menu-item>
                        </Submenu>
                        <Submenu name="2">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                                空间管理
                            </template>
                            <Menu-item name="3-1"><a href="#/space">空间管理</a></Menu-item>
                            <Menu-item name="3-2">选项 2</Menu-item>
                        </Submenu>
                        <Submenu name="3">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               用户信息
                            </template>
                            <Menu-item name="3-1"><a href="#/user">成员管理</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/adduser">添加用户</a></Menu-item>
                        </Submenu>
                        <Submenu name="4">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               品牌管理
                            </template>
                            <Menu-item name="3-1"><a href="#/brandlist">品牌管理</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/buildinglist">楼宇列表</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/feedback">意见反馈</a></Menu-item>
                        </Submenu>
                         <Submenu name="5">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               意见反馈
                            </template>
                            <Menu-item name="3-1"><a href="#/opinion">意见反馈</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/helper">使用帮助</a></Menu-item>
                        </Submenu>
                    </Menu>
            </Col>
            <Col span="20" class="manage_show">
                <div class="show_header">
                    <h3>意见反馈</h3>
                    <!-- <button class="add">添加品牌</button> -->
                </div>
                <div class="show_main">
                    <Row class="change">
                        <Col span="1" class="none"></Col>
                        <Col span="23" class="sels">
                            <div class="sellist" v-for="items in selsdata">
                                 <span>{{items.s_name_list[0].value}}：</span>  
                                 <Select v-model="items.s_name" style="width:200px" :placeholder="items.s_name_list[0].value" class="sel">
                                    <Option v-for="item in items.s_name_list" :value="item.value" :key="item.value">
                                        {{ item.label}}
                                    </Option>
                                </Select>  
                            </div>                       
                        </Col>
                    </Row> 
                    <Row class="table_show">
                        <Col span="1" class="none"></Col>
                        <Col span="23">
                            <Table :columns="columns1" :data="data1"></Table>
                        </Col>
                    </Row>
                    <p class="eventuate">共{{num}}条建议</p>      
                </div>
                <div class="suggestion_box">
                    <Row class="head">
                        <Col span="2" class="none"></Col>
                        <Col span="22" class="suggestion_title">意见反馈</Col>
                    </Row>
                    <Row class="suggestion_box_contenthead">
                        <Col span="2" class="none"></Col>
                        <Col span="22">反馈内容</Col>
                    </Row>
                    <Row class="add_wrong_info">
                        <Col span="2" class="none"></Col>
                        <Col span="22">
                             <input type="text" placeholder="房源楼宇添加错误" class="suggestion_content">
                        </Col>
                    </Row>
                    <Row class="add_img_head">
                            <Col span="2" class="none"></Col>
                            <Col span="22">
                                上传照片
                            </Col>
                    </Row>
                    <Row class="add_img">
                        <Col span="2" class="none"></Col>
                        <Col span="22">
                           <img src="" alt="" class="imgs">
                        </Col>
                    </Row>
                    <Row class="contact_way">
                        <Col span="2" class="none"></Col>
                        <Col span="22">
                            <p class="p1">联系方式</p>
                            <input type="text" placeholder="请填写联系方式" class="add_contact_way">
                        </Col>
                    </Row>
                    <Row class="dispose_status">
                        <Col span="2" class="none"></Col>
                        <Col span="22">
                            <p class="p1">处理结果</p>
                            <div class="dispose_status_content">

                            </div>
                        </Col>
                    </Row>
                    <Row class="dispose_back">
                        <Col span="2" class="none"></Col>
                        <Col span="22">
                           <button class="back_btn">处理</button>
                        </Col>
                    </Row>
                </div>
            </Col>
        </Row>
        </div>
</template>
<script>
export default {
  name:"login",
   data(){
      return{
        theme2:"dark",
        num:0,
        selsdata:[
            {
                s_name:"",
                s_name_list:[
                    {
                        value:"处理结果",
                        label:"未处理"
                    },
                    {
                        value:"处理结果",
                        label:"已处理"
                    },
                    {
                        value:"处理结果",
                        label:"全部"
                    }
                ]
            }
        ],
        columns1: [
                    {
                        title: '反馈内容',
                        key: 'back_text'
                    },
                    {
                        title: '图片',
                        key: 'back_img'
                    },
                    {
                        title: '联系方式',
                        key: 'contact_way'
                    },
                    {
                        title: '所属品牌',
                        key: 'belong_brand'
                    },
                    {
                        title: '反馈邮箱',
                        key: 'back_email'
                    },
                    {
                        title: '反馈时间',
                        key: 'back_time'
                    },
                    {
                        title: '处理状态',
                        key: 'dispose_status'
                    },
                     {
                        title: '处理时间',
                        key: 'dispose_time'
                    },
                    {
                        title:"操作",
                        key:"operate"
                    }
        ],
        data1: [
            {
                back_text:"新增房源不好用",
                back_img:"有",
                contact_way:"张骞 15711366122",
                belong_brand:"纳什",
                back_email:"1571136@qq.com",
                back_time:"2017/03/10 18:06",
                dispose_status:"未处理",
                dispose_time:"2017/03/10 18:06",
                operate:"处理"
            }
        ]
      }
    },
    mounted:function(){
        this.num=this.data1.length
    }
}
</script>
<style lang="scss" scoped>
    *{
        margin: 0;
        padding: 0;
    }
    .none{
        height: 1px;
    }
    .brandlist_header{
        height: 60px;
        background-color: rgba(62, 64, 66, 1);
        .tit{
            height: 60px;
            color: #fff;
            line-height: 60px;
            font-size: 20px;
            font-weight: bold;
            text-indent: 20px;
            border-right: 1px solid #aaa;
        }
        .manage_btn{
            height: 60px;
            line-height: 60px;
            text-align: center;
            color: #fff;
            font-size: 18px;
        }
        .none{
            height: 1px;
        }
        .user_info{
            height: 100%;
            color: #fff;
            .userinfo_menu{
                height: 100%;
                background-color: rgba(62, 64, 66, 1);
                li{
                    text-align:center;
                    margin:0;
                    padding:0;
                    line-height: 30px;
                }
            }
        }
    }
    .brandlist_main{
        .manage_list{
            height: 1021px;
            border-right:1px solid #ccc;
            .return_page{
                width: 100%;
                height: 40px;
                line-height: 40px;
                span{
                    float:right;
                    margin-right:20px;
                }
            }
            .manage_list_btn{
                li{
                    line-height:35px;
                    font-size:14px;
                    font-weight:bold;
                    color:#000;
                    margin-left:10px;
                }
            }
        }
        .manage_show{
            .show_header{
                border-bottom:1px solid #000;
                height:100px;
                h3{
                    float: left;
                    margin-top:50px;
                    margin-left: 50px;
                    color:#000;
                }
                .add{
                    float: right;
                    margin-top:40px;
                    background: #fff;
                    border:1px solid green;
                    width: 100px;
                    height: 40px;
                    border-radius: 10px;
                    outline: none;
                    color:green;
                    cursor:pointers;
                }
            }
            .show_main{
                .change{
                    .none{
                        height: 1px;
                    }
                    .sels{
                        border-bottom:1px solid #000;
                        padding: 30px 0;
                        .sellist{
                            float:left;
                            margin-right:10px;
                        }
                    }
                }
                .table_show{
                    margin-top: 20px;
                    .none{
                        height: 1px;
                    }
                }
                .eventuate{
                    text-align: center;
                    margin-top: 20px;
                    font-size: 16px;
                }
            }
        }
        .suggestion_box{
            width: 100%;
            margin-top: 80px;
            .head{
                .none{
                    height:1px;
                }
                .suggestion_title{
                    background-color: rgba(201, 201, 201, 1);
                    height: 40px;
                    line-height: 40px;
                    font-size: 16px;
                    color: #000;
                    font-weight: bold;
                    text-indent: 20px;
                }
            }
            .suggestion_box_contenthead{
                    color: #000;
                    margin-top: 20px;
                    font-size: 12px;
            }
            .add_wrong_info{
                margin-top: 20px;     
                .suggestion_content{
                    outline: none;
                    border:none;
                }
            }
            .add_img_head{
                margin-top: 50px;
                color: #000;
                font-size: 14px;
                font-weight: bold;
            }
            .add_img{
                .imgs{
                    width: 20%;
                    height:auto;
                }
            }
            .contact_way{
                margin-top: 30px;
                .p1{
                    font-size: 14px;
                    color:#000;
                    font-weight:bold;
                }
                .add_contact_way{
                    outline: none;
                    border: none;
                    margin-top: 20px;
                }
            }
            .dispose_status{
                margin-top: 30px;
                .p1{
                    font-size: 14px;
                    color:#000;
                    font-weight:bold;
                }
                .dispose_status_content{
                    width: 80%;
                    height: 94px;
                    border: 1px solid #000;
                    margin-top: 20px;
                }
            }
            .dispose_back{
                .back_btn{
                    outline: none;
                    border: none;
                    background-color: rgba(255, 102, 0, 1);
                    color:#fff;
                    height: 50px;
                    width:15%;
                    border-radius:14px;
                    margin:20px 0;
                }
            }          
        }
    }
</style>


