<template>
    <div class="helper">
        <div class="top">
            <Row>
                <Col span="6">纳什空间</Col>
                <Col span="13">
    
                <Icon type="navicon"></Icon>
                资产管理
                </Col>
                <Col span="5">
                <Icon type="navicon"></Icon>
                <Icon type="android-person"></Icon>
                <Icon type="ios-bell-outline"></Icon>
                </Col>
            </Row>
        </div>
        <div class="main">
            <p>使用帮助</p>
            <div class="imgs">
                <img src="../../assets/u6740.png">
            </div>
            <div class="wei">
                <img src="../../assets/u6734.png">
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: "helper"
}
</script>
<style lang="scss" scoped>
* {
    padding: 0;
    margin: 0;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #fff;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
}

.helper {
    width: 100%;
    height: 100%;
    .top {
        width: 100%;
        height: 60px;
        line-height: 60px;
        background: #3e4042;
        .ivu-col-span-6 {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            border-right: 1px solid #c0c0c0;
            text-align: left;
        }
        .ivu-col-span-13 {
            color: #c0c0c0;
            font-size: 16px;
            text-align: left;
            padding-left: 7%;
        }
        .ivu-col-span-5 {
            color: #fff;
            font-size: 18px;
            text-align: left;
            .ivu-icon-navicon {
                border-right: 1px solid #fff;
                padding-right: 20px;
            }
            .ivu-icon-android-person {
                padding-left: 20px;
            }
            .ivu-icon-ios-bell-outline {
                padding-left: 5px;
            }
        }
    }
}

.main {
    width: 100%;
    height: 100%;
    background: #eee;
    position: relative;
    p {
        width: 93%;
        height: 50px;
        background: #c9c9c9;
        position: absolute;
        top: 40px;
        left: 97px;
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        padding-left: 10px;
        padding-top: 10px;
    }
    .imgs {
        position: absolute;
        top: 168px;
        left: 200px;
    }
    .wei {
        position: absolute;
        top: 210px;
        left: 900px;
        img {
            width: 60%;
            height: 100%;
        }
    }
}
</style>


