<template>
    <div class="opinion">
        <div class="top">
            <Row>
                <Col span="6">纳什空间</Col>
                <Col span="13">
    
                <Icon type="navicon"></Icon>
                资产管理
                </Col>
                <Col span="5">
                <Icon type="navicon"></Icon>
                <Icon type="android-person"></Icon>
                <Icon type="ios-bell-outline"></Icon>
                </Col>
            </Row>
        </div>
        <div class="main">
    
            <p>意见反馈</p>
            <div class="text">
                <b>反馈内容(* 必填)</b>
                <Input type="textarea" :rows="6" :col='4' placeholder="
    
    欢迎提出您在使用过程中遇到的问题或宝贵建议（400字以内），感谢您的支持!
    " :maxlength="400" @input="descInput" v-model="desc">
    
                </Input>
                <span>{{remnant}}/400</span>
            </div>
            <div class="pic">
                <b>上传图片</b>
                <Upload :before-upload="handleUpload" action="//jsonplaceholder.typicode.com/posts/">
                    <Button type="ghost" icon="android-folder">上传文件</Button>
                </Upload>
                <div v-if="file !== null">待上传文件：{{ file.name }}
                    <Button type="text" @click="upload" :loading="loadingStatus">{{ loadingStatus ? '上传中' : '点击上传' }}</Button>
                </div>
            </div>
            <div class="connection">
                <span>联系人方式</span>
                <Input v-model="value1" size="large"></Input>
            </div>
            <Button type="info">提交</Button>
        </div>
    </div>
</template>
<script>
export default {
    name: "opinion",
    data() {
        return {
            value: '',
            value1: '',
            file: null,
            desc: '',
            remnant: 400,

            loadingStatus: false
        }
    },
    methods: {
        handleUpload(file) {
            this.file = file;
            return false;
        },
        descInput() {
            var txtVal = this.desc.length;
            this.remnant = 400 - txtVal;
        },
        upload() {
            this.loadingStatus = true;
            setTimeout(() => {
                this.file = null;
                this.loadingStatus = false;
                this.$Message.success('上传成功')
            }, 1500);
        }
    }
}
</script>
<style lang="scss" scoped>
* {
    padding: 0;
    margin: 0;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #fff;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
}

.opinion {
    width: 100%;
    height: 100%;
    .top {
        width: 100%;
        height: 60px;
        line-height: 60px;
        background: #3e4042;
        .ivu-col-span-6 {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            border-right: 1px solid #c0c0c0;
            text-align: left;
        }
        .ivu-col-span-13 {
            color: #c0c0c0;
            font-size: 16px;
            text-align: left;
            padding-left: 7%;
        }
        .ivu-col-span-5 {
            color: #fff;
            font-size: 18px;
            text-align: left;
            .ivu-icon-navicon {
                border-right: 1px solid #fff;
                padding-right: 20px;
            }
            .ivu-icon-android-person {
                padding-left: 20px;
            }
            .ivu-icon-ios-bell-outline {
                padding-left: 5px;
            }
        }
    }
    .main {
        width: 100%;
        height: 100%;
        background: #eee;
        position: relative;
        p {
            width: 93%;
            height: 50px;
            background: #c9c9c9;
            position: absolute;
            top: 40px;
            left: 97px;
            text-align: left;
            font-size: 20px;
            font-weight: bold;
            padding-left: 10px;
            padding-top: 10px;
        }
    }
    .text {
        position: absolute;
        top: 125px;
        left: 97px;
        text-align: left;
        font-size: 14px;
        span {
            position: absolute;
            top: 160px;
            left: 1150px;
        }
    }

    textarea {
        margin: 0px;
        width: 1229px;
        height: 155px;
        margin-top: 20px;
    }
    .pic {
        position: absolute;
        top: 360px;
        left: 97px;
        text-align: left;
        font-size: 14px;
        .ivu-btn {
            margin-top: 10px;
            background: #1f98ed;
            width: 125px;
            height: 45px;
            text-align: left;
            font-weight: bold;
            font-size: 16px;
            color: #fff;
        }
    }
    .connection {
        position: absolute;

        width: 1229px;
        top: 455px;
        left: 97px;
        text-align: left;
        font-size: 14px;
        .ivu-input-wrapper {
            margin-top: 15px;
        }
    }
}

.ivu-btn-info {
    position: absolute;
    top: 550px;
    left: 97px;
    width: 135px;
    height: 45px;
    font-size: 14px;
    font-weight: bold;
}
</style>


