<template>
    <div class="layout">
        <Menu mode="horizontal" theme="dark" active-name="1">
            <div class="layout-logo">
                纳什空间
            </div>
            <div class="layout-nav">
                <Menu-item name="1" class="bg">
                    <Icon type="ios-keypad"></Icon>
                    资金管理
                </Menu-item>
                <Menu-item name="3">
                    <Icon type="ios-analytics"></Icon>
                    导航三
                </Menu-item>
                <Menu-item name="4">
                    <Icon type="ios-paper"></Icon>
                    导航四
                </Menu-item>
            </div>
        </Menu>
        <div class="layout-content">
            <Row>
                <i-col span="4">
                    <Menu active-name="1-2" width="auto" :open-names="['2']">
                        <Submenu name="1">
                            <template slot="title">
                                <Icon type="ios-keypad"></Icon>
                                资金管理
                            </template>
                            <Menu-item name="2-1">选项 1</Menu-item>
                            <Menu-item name="2-2">选项 2</Menu-item>
                        </Submenu>
                        <Submenu name="2">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                                空间管理
                            </template>
                            <Menu-item name="3-1"><a href="#/space">空间管理</a></Menu-item>
                            <Menu-item name="3-2">选项 2</Menu-item>
                        </Submenu>
                        <Submenu name="3">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               用户信息
                            </template>
                            <Menu-item name="3-1"><a href="#/user">成员管理</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/adduser">添加用户</a></Menu-item>
                        </Submenu>
                        <Submenu name="4">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               品牌管理
                            </template>
                            <Menu-item name="3-1"><a href="#/brandlist">品牌管理</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/buildinglist">楼宇列表</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/feedback">意见反馈</a></Menu-item>
                        </Submenu>
                        <Submenu name="5">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               意见反馈
                            </template>
                            <Menu-item name="3-1"><a href="#/opinion">意见反馈</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/helper">使用帮助</a></Menu-item>
                        </Submenu>
                    </Menu>
                </i-col>
                <i-col span="20">
                    <div class="layout-content-main">
                        <p class="path"><span @click="space">空间管理</span> 》<span @click="resourse">房源管理</span> 》 <span>新建房源</span></p>
                        <h2>房源基本信息</h2>
                        <Form :model="formItem" :label-width="90">
                            <Form-item label="网点名称:">
                                <Select v-model="formItem.select" placeholder="请选择">
                                    <Option value="beijing">北京市</Option>
                                    <Option value="shanghai">上海市</Option>
                                    <Option value="shenzhen">深圳市</Option>
                                </Select>
                            </Form-item>
                            <Form-item label="房源类型:">
                                <Radio-group v-model="formItem.radio">
                                    <Radio label="male">开放工位</Radio>
                                    <Radio label="female">独立办公室（工位计价）</Radio>
                                    <Radio label="tips">独立办公室（面积计价）</Radio>
                                </Radio-group>
                            </Form-item>
                            <Form-item label="所属分区:">
                                <Select v-model="formItem.select" placeholder="请选择">
                                    <Option value="beijing">北京市</Option>
                                    <Option value="shanghai">上海市</Option>
                                    <Option value="shenzhen">深圳市</Option>
                                </Select>
                            </Form-item>
                            <Form-item label="容纳人数:">
                                <Input v-model="formItem.people" placeholder="请输入"></Input>
                            </Form-item>
                            <Form-item label="面积:">
                                <Input v-model="formItem.M" placeholder="请输入"></Input>
                            </Form-item>
                            <Row>
                                <Col span="11">
                                <Form-item label="月价格:">
                                    <Input v-model="formItem.people" placeholder="请输入"></Input>
                                </Form-item>
                                </Col>
                                <Col span="2" style="text-align: center">-</Col>
                                <Col span="11">
                                <Form-item label="周价格:">
                                    <Input v-model="formItem.people" placeholder="请输入"></Input>
                                </Form-item>
                                </Col>
                            </Row>
                            <Form-item label="相同房间数:">
                                <Input v-model="formItem.people" placeholder="请输入"></Input>
                            </Form-item>
                            <Row>
                                <Col span="6">
                                <Form-item label="朝向:">
                                    <Select v-model="formItem.direcyive" placeholder="请选择">
                                        <Option value="beijing">北京市</Option>
                                        <Option value="shanghai">上海市</Option>
                                        <Option value="shenzhen">深圳市</Option>
                                    </Select>
                                </Form-item>
                                </Col>
                            </Row>
                            <Row>
                                <Col span="11">
                                <Form-item label="锁:">
                                    <Radio-group v-model="formItem.lock">
                                        <Radio label="lock">有</Radio>
                                        <Radio label="unlock">无</Radio>
                                    </Radio-group>
                                </Form-item>
                                </Col>
                                <Col span="2" style="text-align: center">-</Col>
                                <Col span="11">
                                <Form-item label="墙:">
                                    <Radio-group v-model="formItem.wall">
                                        <Radio label="wall">有</Radio>
                                        <Radio label="unwall">无</Radio>
                                    </Radio-group>
                                </Form-item>
                                </Col>
                            </Row>
                        </Form>
                        <h2>房间编号</h2>
                        <Form :v-model="room" :label-width="90">
                            <Row>
                                <Col span="10">
                                <Form-item label="编号前缀:">
                                    <Input v-model="room.num" placeholder="请输入"></Input>
                                </Form-item>
                                </Col>
                            </Row>
                            <Row>
                                <Col span="10">
                                <Form-item label="编号前缀:">
                                    <Input v-model="room.num" placeholder="请输入"></Input>
                                </Form-item>
                                </Col>
                                <Col span="14">
                                <span class="build">生成</span>
                                <u>手动添加</u>
                                </Col>
                            </Row>
                            <formItem label="">
                                <Tag type="dot" closable>A1007</Tag>
                                <Tag type="dot" closable>A1006</Tag>
                                <Tag type="dot" closable>A1005</Tag>
                                <Tag type="dot" closable>A1008</Tag>
                            </formItem>
                        </Form>
                        <h2>房间照片</h2>
                        <Row>
                            <Col span="24" class="img">
                            <Button type="primary">上传照片</Button>
                            最多5张，可多选上传，最大8M
                            </Col>
                        </Row>
                        <h2>备注消息</h2>
                        <Row type="flex" justify="center" class="code-row-bg">
                            <Col span="18">
                            <Form :model="formItem" :label-width="80">
                                    <Input v-model="formItem.textarea" type="textarea" :autosize="{minRows: 4,maxRows: 6}" placeholder="请输入备注信息"></Input>
                            </Form>
                            </Col>
                        </Row>
                         <button type="info" class="save">保存</button>
                    </div>
                </i-col>
            </Row>
        </div>
        <div class="layout-copy">
            Powered By 好租
        </div>
    </div>
</template>
<script>
export default {
    name: "resourse",
    data() {
        return {
            formItem: {
                name: "",
                radio: 'male',
                lock: "lock",
                wall: "wall",
                people: "",
                M: "",
                direction: ""
            },
            room: {
                num: ""
            }
        }
    },
    methods: {
        space(){
            this.$router.push({
                "name":"space",
                params:{
                    index:"space"
                }
            })
        },
        resourse(){
            this.$router.push({
                "name":"resourse",
                params:{
                    index:"resourse"
                }
            })
        }
    }
}
</script>
<style lang="scss">
html,
body {
    width: 100%;
    height: 100%;
    #app {
        width: 100%;
        height: 100%;
    }
}

.img {
    height: 60px;
    text-align: center;
    line-height: 60px;
    button {
        margin-right: 10px;
    }
}
.save{
    margin-top: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    outline: none;
    background: orangered;  
}
.build {
    margin-left: 10px;
    display: inline-block;
    width: 100px;
    height: 33px;
    background: lightseagreen;
    text-align: center;
    line-height: 33px;
    color: #fff;
}

h2 {
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.layout-logo {
    width: 100px;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    float: left;
    position: relative;
    top: 15px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    left: 20px;
    font-size: 18px;
}

.layout-nav {
    width: 848px;
    margin: 0 auto;
}

.layout-assistant {
    width: 100%;
    height: inherit;
}

.layout-breadcrumb {
    padding: 10px 15px 0;
}

.layout-content {
    min-height: 200px;
    background: rgba(238, 238, 238, 1);
    margin: 15px;
    overflow: hidden;
    border-radius: 4px; // height: 80%;
}

.ivu-table th {
    text-align: center;
    line-height: 30px;
}

.ivu-table-cell {
    padding-left: 0px;
    padding-right: 0px;
}

.layout-content-main {
    padding: 10px;
}

.layout-copy {
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
}
</style>






