<template>
    <div class="layout">
        <Menu mode="horizontal" theme="dark" active-name="1">
            <div class="layout-logo">
                纳什空间
            </div>
            <div class="layout-nav">
                <Menu-item name="1" class="bg">
                    <Icon type="ios-keypad"></Icon>
                    资金管理
                </Menu-item>
                <Menu-item name="3">
                    <Icon type="ios-analytics"></Icon>
                    导航三
                </Menu-item>
                <Menu-item name="4">
                    <Icon type="ios-paper"></Icon>
                    导航四
                </Menu-item>
            </div>
        </Menu>
        <div class="layout-content">
            <Row>
                <i-col span="4">
                   <Menu active-name="1-2" width="auto" :open-names="['2']">
                        <Submenu name="1">
                            <template slot="title">
                                <Icon type="ios-keypad"></Icon>
                                资金管理
                            </template>
                            <Menu-item name="2-1">选项 1</Menu-item>
                            <Menu-item name="2-2">选项 2</Menu-item>
                        </Submenu>
                        <Submenu name="2">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                                空间管理
                            </template>
                            <Menu-item name="3-1"><a href="#/space">空间管理</a></Menu-item>
                            <Menu-item name="3-2">选项 2</Menu-item>
                        </Submenu>
                        <Submenu name="3">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               用户信息
                            </template>
                            <Menu-item name="3-1"><a href="#/user">成员管理</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/adduser">添加用户</a></Menu-item>
                        </Submenu>
                        <Submenu name="4">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               品牌管理
                            </template>
                            <Menu-item name="3-1"><a href="#/brandlist">品牌管理</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/buildinglist">楼宇列表</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/feedback">意见反馈</a></Menu-item>
                        </Submenu>
                         <Submenu name="5">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               意见反馈
                            </template>
                            <Menu-item name="3-1"><a href="#/opinion">意见反馈</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/helper">使用帮助</a></Menu-item>
                        </Submenu>
                    </Menu>
                </i-col>
                <i-col span="20">
                    <div class="layout-content-main">
                        <p class="path"><span @click="space">空间管理</span> > 优客工场百子湾</p>
                        <Menu mode="horizontal" active-name="1">
                            <div class="layout-assistant">
                                <Menu-item name="1">全部</Menu-item>
                                <Menu-item name="2">CBA</Menu-item>
                                <Menu-item name="3">朝阳</Menu-item>
                                <Menu-item name="4">京东</Menu-item>
                                <Menu-item name="5">京西</Menu-item>
                                <Menu-item name="6">京南</Menu-item>
                                <span @click="modal2 = true" style="margin-left:30px">添加</span>
                            </div>
                        </Menu>
                        <div class="show">
                            <div class="show-left">
                                <dl>
                                    <dd>
                                        <img src="../../assets/u385.png" alt="">
                                    </dd>
                                    <dt>
                                        <p>
                                            <span>优客工场(百子湾)</span>
                                            <br>
                                            <a>共有8个景点</a>
                                        </p>
                                        <p>
                                            <span>60%</span>工作空置率</p>
                                    </dt>
                                </dl>
                            </div>
                            <div class="show-right">
                                <ul>
                                    <li>
                                        <span>总工位</span>
                                        <u>547个</u>
                                    </li>
                                    <li>
                                        <span>已租工位</span>
                                        <u>547个</u>
                                    </li>
                                    <li>
                                        <span>空置工位</span>
                                        <u>547个</u>
                                    </li>
                                    <li>
                                        <span>30天到期工位</span>
                                        <u>547个</u>
                                    </li>
                                    <li>
                                        <span>着火工位</span>
                                        <u>547个</u>
                                    </li>
                                    <li>
                                        <span>好租同步</span>
                                        <u>547个</u>
                                        <p @click="updata">同步详情》</p>
                                    </li>
                                    <li>
                                        <span>好租快推/快推上限</span>
                                        <u>547个</u>
                                        <p @click="pull">快推详情》</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="title"> -->
                        <Menu mode="horizontal" :theme="theme1" active-name="1">
                            <Menu-item name="1">
                                <Icon type="ios-paper"></Icon>
                                全部
                            </Menu-item>
                            <Menu-item name="2">
                                <Icon type="ios-paper"></Icon>
                                独立办公室
                            </Menu-item>
                            <Menu-item name="3">
                                <Icon type="ios-paper"></Icon>
                                开放工位
                            </Menu-item>
                        </Menu>
                        <!-- </div> -->
                        <div class="classfiy clear" justify="center" :gutter="16">
                            <Col span="4">
                            <span class="origin">空置</span>
                            <a>6</a>个
                            <b>35.45%</b>
                            </Col>
                            <Col span="4">
                            <span class="blue">已租</span>
                            <a>6</a>个
                            <b>35.45%</b>
                            </Col>
                            <Col span="4">
                            <span class="yellow"></span>空置
                            <a>6</a>个
                            <b>35.45%</b>
                            </Col>
                            <Col span="4">
                            <span class="red"></span>空置
                            <a>6</a>个
                            <b>35.45%</b>
                            </Col>
                            <Col span="4">
                            <span class="empy">
                                <img src="" alt="">
                            </span>空置
                            <a>6</a>个
                            <b>35.45%</b>
                            </Col>
                            <Col span="4">
                            <span class="empy">
                                <img src="" alt="">
                            </span>空置
                            <a>6</a>个
                            <b>35.45%</b>
                            </Col>
                        </div>
                        <div class="meue">
                            <span>全部</span>
                            <span>东区</span>
                            <span>南一区</span>
                            <span>未分区</span>
                        </div>
                        <div class="contain">
                            <span class="row">
                                <h4>A101</h4>
                                <p>
                                    <a>8人间</a>
                                    <span>1800元/工位</span>
                                </p>
                            </span>
                            <span class="row">
                                <h4>A101</h4>
                                <p>
                                    <a>8人间</a>
                                    <span>1800元/工位</span>
                                </p>
                            </span>
                            <span class="row">
                                <h4>A101</h4>
                                <p>
                                    <a>8人间</a>
                                    <span>1800元/工位</span>
                                </p>
                            </span>
                            <span class="row">
                                <h4>A101</h4>
                                <p>
                                    <a>8人间</a>
                                    <span>1800元/工位</span>
                                </p>
                            </span>
                            <span class="row">
                                <h4>A101</h4>
                                <p>
                                    <a>8人间</a>
                                    <span>1800元/工位</span>
                                </p>
                            </span>
                            <span class="row">
                                <h4>A101</h4>
                                <p>
                                    <a>8人间</a>
                                    <span>1800元/工位</span>
                                </p>
                            </span>
                            <span class="row">
                                <h4>A101</h4>
                                <p>
                                    <a>8人间</a>
                                    <span>1800元/工位</span>
                                </p>
                            </span>
                            <span class="row">
                                <h4>A101</h4>
                                <p>
                                    <a>8人间</a>
                                    <span>1800元/工位</span>
                                </p>
                            </span>
                            <span class="row">
                                <h4>A101</h4>
                                <p>
                                    <a>8人间</a>
                                    <span>1800元/工位</span>
                                </p>
                            </span>
                            <span class="row">
                                <h4>A101</h4>
                                <p>
                                    <a>8人间</a>
                                    <span>1800元/工位</span>
                                </p>
                            </span>
                            <span class="row">
                                <h4>A101</h4>
                                <p>
                                    <a>8人间</a>
                                    <span>1800元/工位</span>
                                </p>
                            </span>

                        </div>
                        <Page class="page" :total="100"></Page>
                    </div>
                </i-col>
            </Row>
        </div>
        <div class="layout-copy">
            Powered By 好租
        </div>
    </div>
</template>
<script>
export default {
    name: "resourse",
    data() {
        return {
            columns3: [
                {
                    type: 'selection',
                    width: 60,
                    align: 'center'
                },
                {
                    title: "房间ID",
                    width: 60,
                    key: 'ID'
                },
                {
                    title: '网点名称',
                    width: 60,
                    key: 'name'
                },
                {
                    title: '商品类型',
                    key: 'age'
                },
                {
                    title: '规格',
                    key: 'readed'
                },
                {
                    title: '报价',
                    width: 50,
                    key: 'space'
                },
                {
                    title: '房源总量',
                    key: 'mounth'
                },
                {
                    title: '已租/空置',
                    key: 'fire'
                },
                {
                    title: '30天到期',
                    key: 'good'
                },
                {
                    title: '着火工位',
                    width: 120,
                    key: 'limit'
                },
                {
                    title: '是否同步',
                    width: 100,
                    key: 'empity'
                },
                {
                    title: '操作',
                    key: 'action',
                    width: 200,
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'text',
                                    size: 'small'
                                },
                                on: {
                                    click: () => {
                                        // this.show(params.index)
                                        alert(111)
                                    }
                                }
                            }, '编辑房源'),
                            h('Button', {
                                props: {
                                    type: 'text',
                                    size: 'small'
                                },
                                on: {
                                    click: () => {
                                        this.$router.push({
                                            name: "resourse",
                                            params: {
                                                "index": "resourse"
                                            }
                                        })
                                    }
                                }
                            }, '新增租赁')
                        ]);
                    }
                }
            ],
            data1: [
                {
                    ID: "1",
                    name: '优客工场(海龙大厦)',
                    age: "开放工位",
                    readed: '--',
                    space: "1800元/工位、月",
                    mounth: "13个",
                    fire: "8个/5个",
                    good: "6个",
                    limit: "已同步",
                    empity: "已快推",
                    do: "zzzz"
                },
                {
                    ID: "2",
                    name: '优客工',
                    age: 34,
                    readed: '34个',
                    space: "34个",
                    mounth: "34个",
                    fire: "34个",
                    good: "34个",
                    limit: "34个",
                    empity: "34个",
                    do: "zzzz"
                }
            ],
            modal1: false,
            formItem: {
                name: '',
                num: '',
                hotole: "",
                list: '',
                nums: '',
                group: ""
            },
            modal2: false,
            modal3: false,
            modal4: false,
            modal5: false,
            theme1: "light"
        }
    },
    methods: {
        manage() {

        },
        space(){
            this.$router.push({
                name:"space",
                params:{
                    index:"space"
                }
            })
        },
        updata() {
            this.$router.push({
                "name": "updata",
                params: {
                    index: "updata"
                }
            })
        },
        undata() {

        },
        pull() {
            this.$router.push({
                "name": "pull",
                params: {
                    index: "pull"
                }
            })
        },
        unpull() {

        },
        newAdd() {

        },
        ok() {
            this.$Message.info('点击了确定');
        },
        cancel() {
            this.$Message.info('点击了取消');
        }
    }
}
</script>
<style lang="scss">
html,
body {
    width: 100%;
    height: 100%;
    #app {
        width: 100%;
        height: 100%;
    }
}
.contain{
    width: 100%;
    // padding: 10px;
    .row{
        width: 12.5%;
        margin:5px;
        height: 60px;
        background: orangered;
        color: #fff;
        display: inline-block;
        h4{
            padding-left: 10px;
            margin-bottom: 10px;
        }
        p{
            width: 100%;
            span{
                float: right;
            }
        }
    }
}
.content {
    width: 100%; // height: 100%;
    text-align: center;
    color: #ccc;
    line-height: 100px;
}

.ivu-form-item-label {
    width: 97px;
}

.title-left {
    float: left;
    span {
        display: inline-block;
        width: 100px;
        line-height: 40px;
        border: 1px solid lightgreen;
        text-align: center;
        background: #fff;
        border-radius: 3px;
    }
}

.meue {
    width: 100%;
    border-left: 1px solid red;
    height: 30px;
    span {
        display: inline-block;
        width: 100px;
        height: 30px;
        float: left;
        text-align: center;
        line-height: 30px;
    }
}

.ivu-col-span-4 {
    height: 40px;
    text-align: center;
    line-height: 40px;
    span {
        border: 2px solid #000;
        width: 50px;
        height: 20px;
        line-height: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        color: #fff;
    }
    b {
        margin-left: 10px;
    }
    .yellow {
        width: 10px;
        height: 10px;
        background: yellow;
        border-radius: 10px;
    }
    .red {
        width: 10px;
        height: 10px;
        background: red;
        border-radius: 10px;
    }
    .origin {
        background: orangered;
    }
    .blue {
        background: rgba(1, 77, 103, 1);
    }
}

.bg {
    border-left: 1px solid #fff;
}

.path {
    background: #fff;
    line-height: 50px;
    border-bottom: 1px solid #000;
}

.ivu-modal-footer {
    text-align: center;
}

.page {
    float: right;
}

.ivu-table td {
    text-align: center;
}

.clear:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
}

// .nums{
//     width: 100%;
//     display: flex;
// }
.ivu-table th {
    font-size: 1.2px;
    font-weight: normal;
}

.show:after {
    content: "";
    display: block;
    width: 0px;
    clear: both;
}

.ivu-modal-body {
    p {
        margin-top: 10px;
    }
    h3 {
        margin-top: 5px;
    }
    h2 {
        margin-top: 20px;
    }
}

.show {
    height: 150px;
    background: #fff;
    margin-bottom: 10px;
    .show-left {
        width: 25%;
        float: left;
        vertical-align: middle;
        dl {
            width: 100%;
            margin-top: 50px;
            padding-left: 10px;
            dd {
                float: left;
            }
            dt {
                float: right;
                border-right: 1px solid #000;
                height: 80px;
                width: 160px;
                text-align: center;
                p {
                    margin-top: 10px;
                }
            }
        }
    }
    .show-right {
        width: 75%;
        float: right;
        height: 150px;
        padding-left: 20px;
        ul {
            height: 150px;
            display: flex;
            align-items: center;
            li {
                display: flex;
                flex-direction: column;
                width: 14%;
                u {
                    margin-top: 10px;
                }
                p {
                    margin-top: 10px;
                    color: blue;
                }
            }
        }
    }
}

.title {
    height: 40px;
    display: block;
    width: 100%;
    color: lightgreen;
    line-height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    .title-right {
        float: right;
        span {
            display: inline-block;
            width: 100px;
            line-height: 40px;
            border: 1px solid lightgreen;
            text-align: center;
            background: #fff;
            border-radius: 3px;
        }
    }
}

.layout {
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    height: 100%;
}

.layout-logo {
    width: 100px;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    float: left;
    position: relative;
    top: 15px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    left: 20px;
    font-size: 18px;
}

.layout-nav {
    width: 848px;
    margin: 0 auto;
}

.layout-assistant {
    width: 100%;
    height: inherit;
}

.layout-breadcrumb {
    padding: 10px 15px 0;
}

.layout-content {
    min-height: 200px;
    background: rgba(238, 238, 238, 1);
    margin: 15px;
    overflow: hidden;
    border-radius: 4px; // height: 80%;
}

.ivu-table th {
    text-align: center;
    line-height: 30px;
}

.ivu-table-cell {
    padding-left: 0px;
    padding-right: 0px;
}

.layout-content-main {
    padding: 10px;
}

.layout-copy {
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
}
</style>





