<template>
    <div class="layout">
        <Menu mode="horizontal" theme="dark" active-name="1">
            <div class="layout-logo">
                纳什空间
            </div>
            <div class="layout-nav">
                <Menu-item name="1" class="bg">
                    <Icon type="ios-keypad"></Icon>
                    资金管理
                </Menu-item>
                <Menu-item name="3">
                    <Icon type="ios-analytics"></Icon>
                    导航三
                </Menu-item>
                <Menu-item name="4">
                    <Icon type="ios-paper"></Icon>
                    导航四
                </Menu-item>
            </div>
        </Menu>
        <div class="layout-content">
            <Row>
                <i-col span="4">
                    <Menu active-name="1-2" width="auto" :open-names="['2']">
                        <Submenu name="1">
                            <template slot="title">
                                <Icon type="ios-keypad"></Icon>
                                资金管理
                            </template>
                            <Menu-item name="2-1">选项 1</Menu-item>
                            <Menu-item name="2-2">选项 2</Menu-item>
                        </Submenu>
                        <Submenu name="2">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                                空间管理
                            </template>
                            <Menu-item name="3-1"><a href="#/space">空间管理</a></Menu-item>
                            <Menu-item name="3-2">选项 2</Menu-item>
                        </Submenu>
                        <Submenu name="3">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               用户信息
                            </template>
                            <Menu-item name="3-1"><a href="#/user">成员管理</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/adduser">添加用户</a></Menu-item>
                        </Submenu>
                        <Submenu name="4">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               品牌管理
                            </template>
                            <Menu-item name="3-1"><a href="#/brandlist">品牌管理</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/buildinglist">楼宇列表</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/feedback">意见反馈</a></Menu-item>
                        </Submenu>
                         <Submenu name="5">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               意见反馈
                            </template>
                            <Menu-item name="3-1"><a href="#/opinion">意见反馈</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/helper">使用帮助</a></Menu-item>
                        </Submenu>
                    </Menu>
                </i-col>
                <i-col span="20">
                    <div class="layout-content-main">
                        <p class="path"><span @click="space">空间管理</span> 》房源管理</p>
                        <Menu mode="horizontal" active-name="1">
                            <div class="layout-assistant">
                                <Menu-item name="1">全部</Menu-item>
                                <Menu-item name="2">CBA</Menu-item>
                                <Menu-item name="3">朝阳</Menu-item>
                                <Menu-item name="4">京东</Menu-item>
                                <Menu-item name="5">京西</Menu-item>
                                <Menu-item name="6">京南</Menu-item>
                                <span @click="modal2 = true" style="margin-left:30px">添加</span>
                            </div>
                        </Menu>
                        <div class="show">
                            <div class="show-left">
                                <dl>
                                    <dd>
                                        <img src="../../assets/u385.png" alt="">
                                    </dd>
                                    <dt>
                                        <p>
                                            <span>全部</span>
                                            <a>共有8个景点</a>
                                        </p>
                                        <p>
                                            <span>60%</span>工作空置率</p>
                                    </dt>
                                </dl>
                            </div>
                            <div class="show-right">
                                <ul>
                                    <li>
                                        <span>总工位</span>
                                        <u>547个</u>
                                    </li>
                                    <li>
                                        <span>已租工位</span>
                                        <u>547个</u>
                                    </li>
                                    <li>
                                        <span>空置工位</span>
                                        <u>547个</u>
                                    </li>
                                    <li>
                                        <span>30天到期工位</span>
                                        <u>547个</u>
                                    </li>
                                    <li>
                                        <span>着火工位</span>
                                        <u>547个</u>
                                    </li>
                                    <li>
                                        <span>好租同步</span>
                                        <u>547个</u>
                                        <p @click="updata">同步详情》</p>
                                    </li>
                                    <li>
                                        <span>好租快推/快推上限</span>
                                        <u>547个</u>
                                        <p @click="pull">快推详情》</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="title">
                            <div class="title-left">
                                <span @click="modal1 = true">同步</span>
                                <span @click="modal2 = true">取消同步</span>
                                <span @click="modal3 = true">快推</span>
                                <span @click="modal4 = true">取消快推</span>
                            </div>
                            <div class="title-right">
                                <span @click="modal5 = true">新增房源</span>
                            </div>
                        </div>
                        <Table border :columns="columns3" :data="data1"></Table>
                        <Page class="page" :total="100"></Page>
                    </div>
                </i-col>
            </Row>
            <!--updata  -->
            <div class="new">
                <Modal v-model="modal1" title="同步提醒" @on-ok="ok" @on-cancel="cancel">
                    <p class="content">是否确认为选中房源执行同步操作</p>
                </Modal>
            </div>
            <!--undata  -->
            <div class="new">
                <Modal v-model="modal2" title="同步提醒" @on-ok="ok" @on-cancel="cancel">
                    <p class="content">是否确认为选中房源执行取消同步操作</p>
                </Modal>
            </div>
            <!--pull  -->
            <div class="new">
                <Modal v-model="modal3" title="快推提醒" @on-ok="ok" @on-cancel="cancel">
                    <p class="content">是否确认为选中房源执行快推操作，未同步的房源同时执行同步操作。</p>
                </Modal>
            </div>
            <!--unpull  -->
            <div class="new">
                <Modal v-model="modal4" title="快推提醒" @on-ok="ok" @on-cancel="cancel">
                    <p class="content">是否确认为选中房源执行取消快推操作</p>
                </Modal>
            </div>
            <!--newAdd  -->
            <div class="new">
                <Modal v-model="modal5" title="快推提醒" @on-ok="ok" @on-cancel="cancel">
                    <p>海龙大厦 A101</p>
                    <h3>现有租赁状态</h3>
                    <p>现有招商状态
                        <span>已租</span>
                    </p>
                    <p>入驻房源:A101,A101</p>
                    <h2>添加租赁</h2>
                    <Form :model="formItem" :label-width="90">
                        <Form-item label="入驻房源:">
                            <Input v-model="formItem.name" placeholder="请输入"></Input>
                        </Form-item>
                        <Form-item label="入驻公司:">
                            <Input v-model="formItem.num" placeholder="请输入"></Input>
                        </Form-item>
                        <Form-item label="合同签订日期:">
                            <Row>
                                <Col span="11">
                                <Date-picker type="date" placeholder="选择日期" v-model="formItem.date"></Date-picker>
                                </Col>
                            </Row>
                        </Form-item>
                        <Form-item label="合同起止日期:">
                            <Row>
                                <Col span="11">
                                <Date-picker type="date" placeholder="选择日期" v-model="formItem.date"></Date-picker>
                                </Col>
                                <Col span="2" style="text-align: center">-</Col>
                                <Col span="11">
                                <Date-picker type="date" placeholder="选择日期" v-model="formItem.data"></Date-picker>
                                </Col>
                            </Row>
                        </Form-item>
                    </Form>
                </Modal>
            </div>
        </div>
        <div class="layout-copy">
            Powered By 好租
        </div>
    </div>
</template>
<script>
export default {
    name: "resourse",
    data() {
        return {
            columns3: [
                {
                    type: 'selection',
                    width: 60,
                    align: 'center'
                },
                {
                    title: "房间ID",
                    width: 60,
                    key: 'ID'
                },
                {
                    title: '网点名称',
                    width: 60,
                    key: 'name'
                },
                {
                    title: '商品类型',
                    key: 'age'
                },
                {
                    title: '规格',
                    key: 'readed'
                },
                {
                    title: '报价',
                    width: 50,
                    key: 'space'
                },
                {
                    title: '房源总量',
                    key: 'mounth'
                },
                {
                    title: '已租/空置',
                    key: 'fire'
                },
                {
                    title: '30天到期',
                    key: 'good'
                },
                {
                    title: '着火工位',
                    width: 120,
                    key: 'limit'
                },
                {
                    title: '是否同步',
                    width: 100,
                    key: 'empity'
                },
                {
                    title: '操作',
                    key: 'action',
                    width: 200,
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'text',
                                    size: 'small'
                                },
                                on: {
                                    click: () => {
                                        // this.show(params.index)
                                        alert(111)
                                    }
                                }
                            }, '编辑房源'),
                            h('Button', {
                                props: {
                                    type: 'text',
                                    size: 'small'
                                },
                                on: {
                                    click: () => {
                                        this.$router.push({
                                            name: "addResoure",
                                            params: {
                                                "index": "addResoure"
                                            }
                                        })
                                    }
                                }
                            }, '新增租赁')
                        ]);
                    }
                }
            ],
            data1: [
                {
                    ID: "1",
                    name: '优客工场(海龙大厦)',
                    age: "开放工位",
                    readed: '--',
                    space: "1800元/工位、月",
                    mounth: "13个",
                    fire: "8个/5个",
                    good: "6个",
                    limit: "已同步",
                    empity: "已快推",
                    do: "zzzz"
                },
                {
                    ID: "2",
                    name: '优客工',
                    age: 34,
                    readed: '34个',
                    space: "34个",
                    mounth: "34个",
                    fire: "34个",
                    good: "34个",
                    limit: "34个",
                    empity: "34个",
                    do: "zzzz"
                }
            ],
            modal1: false,
            formItem: {
                name: '',
                num: '',
                hotole: "",
                list: '',
                nums: '',
                group: ""
            },
            modal2: false,
            modal3: false,
            modal4: false,
            modal5: false
        }
    },
    methods: {
        manage() {

        },
        userInfo(){
            this.$router.push({
                "name":"user",
                params:{
                    "index":"user"
                }
            })
        },
        space(){
            this.$router.push({
                "name":"space",
                params:{
                    index:"space"
                }
            })
        },
        updata() {
            this.$router.push({
                "name":"updata",
                params:{
                    index:"updata"
                }
            })
        },
        undata() {

        },
        pull() {
            this.$router.push({
                "name":"pull",
                params:{
                    index:"pull"
                }
            })
        },
        unpull() {

        },
        newAdd() {

        },
        ok() {
            this.$Message.info('点击了确定');
        },
        cancel() {
            this.$Message.info('点击了取消');
        }
    }
}
</script>
<style lang="scss">
html,
body {
    width: 100%;
    height: 100%;
    #app {
        width: 100%;
        height: 100%;
    }
}

.content {
    width: 100%; // height: 100%;
    text-align: center;
    color: #ccc;
    line-height: 100px;
}

.ivu-form-item-label {
    width: 97px;
}

.title-left {
    float: left;
    span {
        display: inline-block;
        width: 100px;
        line-height: 40px;
        border: 1px solid lightgreen;
        text-align: center;
        background: #fff;
        border-radius: 3px;
    }
}

.bg {
    border-left: 1px solid #fff;
}

.path {
    background: #fff;
    line-height: 50px;
    border-bottom: 1px solid #000;
}

.ivu-modal-footer {
    text-align: center;
}

.page {
    float: right;
}

.ivu-table td {
    text-align: center;
}

// .nums{
//     width: 100%;
//     display: flex;
// }
.ivu-table th {
    font-size: 1.2px;
    font-weight: normal;
}

.show:after {
    content: "";
    display: block;
    width: 0px;
    clear: both;
}

.ivu-modal-body {
    p {
        margin-top: 10px;
    }
    h3 {
        margin-top: 5px;
    }
    h2 {
        margin-top: 20px;
    }
}

.show {
    height: 150px;
    background: #fff;
    margin-bottom: 10px;
    .show-left {
        width: 25%;
        float: left;
        vertical-align: middle;
        dl {
            width: 100%;
            margin-top: 50px;
            padding-left: 10px;
            dd {
                float: left;
            }
            dt {
                float: left;
                border-right: 1px solid #000;
                height: 60px;
                padding: 0 20px;
                p {
                    margin-top: 10px;
                }
            }
        }
    }
    .show-right {
        width: 75%;
        float: right;
        height: 150px;
        ul {
            height: 150px;
            display: flex;
            align-items: center;
            li {
                display: flex;
                flex-direction: column;
                width: 14%;
                u {
                    margin-top: 10px;
                }
                p {
                    margin-top: 10px;
                    color: blue;
                }
            }
        }
    }
}

.title {
    height: 40px;
    display: block;
    width: 100%;
    color: lightgreen;
    line-height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    .title-right {
        float: right;
        span {
            display: inline-block;
            width: 100px;
            line-height: 40px;
            border: 1px solid lightgreen;
            text-align: center;
            background: #fff;
            border-radius: 3px;
        }
    }
}

.layout {
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    height: 100%;
}

.layout-logo {
    width: 100px;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    float: left;
    position: relative;
    top: 15px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    left: 20px;
    font-size: 18px;
}

.layout-nav {
    width: 848px;
    margin: 0 auto;
}

.layout-assistant {
    width: 100%;
    height: inherit;
}

.layout-breadcrumb {
    padding: 10px 15px 0;
}

.layout-content {
    min-height: 200px;
    background: rgba(238, 238, 238, 1);
    margin: 15px;
    overflow: hidden;
    border-radius: 4px; // height: 80%;
}

.ivu-table th {
    text-align: center;
    line-height: 30px;
}

.ivu-table-cell {
    padding-left: 0px;
    padding-right: 0px;
}

.layout-content-main {
    padding: 10px;
}

.layout-copy {
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
}
</style>





