<template>
    <div class="layout">
        <Menu mode="horizontal" theme="dark" active-name="1">
            <div class="layout-logo">
                纳什空间
            </div>
            <div class="layout-nav">
                <Menu-item name="1" class="bg">
                    <Icon type="ios-keypad"></Icon>
                    资金管理
                </Menu-item>
                <Menu-item name="3">
                    <Icon type="ios-analytics"></Icon>
                    导航三
                </Menu-item>
                <Menu-item name="4">
                    <Icon type="ios-paper"></Icon>
                    导航四
                </Menu-item>
            </div>
        </Menu>
        <div class="layout-content">
            <Row>
                <i-col span="4">
                   <Menu active-name="1-2" width="auto" :open-names="['2']">
                        <Submenu name="1">
                            <template slot="title">
                                <Icon type="ios-keypad"></Icon>
                                资金管理
                            </template>
                            <Menu-item name="2-1">选项 1</Menu-item>
                            <Menu-item name="2-2">选项 2</Menu-item>
                        </Submenu>
                        <Submenu name="2">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                                空间管理
                            </template>
                            <Menu-item name="3-1"><a href="#/space">空间管理</a></Menu-item>
                            <Menu-item name="3-2">选项 2</Menu-item>
                        </Submenu>
                        <Submenu name="3">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               用户信息
                            </template>
                            <Menu-item name="3-1"><a href="#/user">成员管理</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/adduser">添加用户</a></Menu-item>
                        </Submenu>
                        <Submenu name="4">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               品牌管理
                            </template>
                            <Menu-item name="3-1"><a href="#/brandlist">品牌管理</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/buildinglist">楼宇列表</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/feedback">意见反馈</a></Menu-item>
                        </Submenu>
                         <Submenu name="5">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                               意见反馈
                            </template>
                            <Menu-item name="3-1"><a href="#/opinion">意见反馈</a></Menu-item>
                            <Menu-item name="3-2"><a href="#/helper">使用帮助</a></Menu-item>
                        </Submenu>
                    </Menu>
                </i-col>
                <i-col span="20">
                    <div class="layout-content-main">
                        <p>空间管理</p>
                        <Menu mode="horizontal" active-name="1">
                            <div class="layout-assistant">
                                <Menu-item name="1">全部</Menu-item>
                                <Menu-item name="2">CBA</Menu-item>
                                <Menu-item name="3">朝阳</Menu-item>
                                <Menu-item name="4">京东</Menu-item>
                                <Menu-item name="5">京西</Menu-item>
                                <Menu-item name="6">京南</Menu-item>
                                <span @click="modal2 = true" style="margin-left:30px">添加</span>
                            </div>
                        </Menu>
                        <div class="show">
                            <div class="show-left">
                                <dl>
                                    <dd>
                                        <img src="../../assets/u385.png" alt="">
                                    </dd>
                                    <dt>
                                        <p>
                                            <span>全部</span>
                                            <a>共有8个景点</a>
                                        </p>
                                        <p>
                                            <span>60%</span>工作空置率</p>
                                    </dt>
                                </dl>
                            </div>
                            <div class="show-right">
                                <ul>
                                    <li>
                                        <span>总工位</span>
                                        <u>547个</u>
                                    </li>
                                    <li>
                                        <span>已租工位</span>
                                        <u>547个</u>
                                    </li>
                                    <li>
                                        <span>空置工位</span>
                                        <u>547个</u>
                                    </li>
                                    <li>
                                        <span>30天到期工位</span>
                                        <u>547个</u>
                                    </li>
                                    <li>
                                        <span>着火工位</span>
                                        <u>547个</u>
                                    </li>
                                    <li>
                                        <span>好租同步</span>
                                        <u>547个</u>
                                    </li>
                                    <li>
                                        <span>好租快推/快推上限</span>
                                        <u>547个</u>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="title">
                            <span>CBA网点</span>
                            <div class="title-right">
                                <span @click="modal1 = true">添加网点</span>
                                <span @click="manage">管理网点</span>
                            </div>
                        </div>
                        <Table highlight-row :columns="columns3" :data="data1"></Table>
                        <Page class="page" :total="100"></Page>
                    </div>
                </i-col>
            </Row>
            <!--新建模态款  -->
            <div class="new">
                <Modal v-model="modal2" title="普通的Modal对话框标题" @on-ok="ok" @on-cancel="cancel">
                    <Form :model="formItem">
                        <Form-item label="网点组别名称:">
                            <Input v-model="formItem.name" placeholder="请输入" style="width:380px"></Input>
                        </Form-item>
                    </Form>
                </Modal>
            </div>
            <!--添加模态框  -->
            <div class="add">
                <!-- <Button type="primary">显示对话框</Button> -->
                <Modal v-model="modal1" title="添加网点" @on-ok="ok" @on-cancel="cancel">
                    <Form :model="formItem" :label-width="80">
                        <Form-item label="网点名称">
                            <Input v-model="formItem.name" placeholder="请输入"></Input>
                        </Form-item>
                        <Form-item label="入驻楼宇">
                            <Input v-model="formItem.num" placeholder="请输入"></Input>
                        </Form-item>
                        <Form-item label="门牌号">
                            <Select v-model="formItem.hotole" placeholder="请选择" style="width:130px">
                                <Option value="beijing">北京市</Option>
                                <Option value="shanghai">上海市</Option>
                                <Option value="shenzhen">深圳市</Option>
                            </Select>
                            <Select v-model="formItem.list" placeholder="请选择" style="width:130px">
                                <Option value="beijing">北京市</Option>
                                <Option value="shanghai">上海市</Option>
                                <Option value="shenzhen">深圳市</Option>
                            </Select>
                            <Select v-model="formItem.nums" placeholder="请选择" style="width:130px">
                                <Option value="beijing">北京市</Option>
                                <Option value="shanghai">上海市</Option>
                                <Option value="shenzhen">深圳市</Option>
                            </Select>
                        </Form-item>
                        <Form-item label="组别">
                            <Select v-model="formItem.group" placeholder="请选择">
                                <Option value="beijing">北京市</Option>
                                <Option value="shanghai">上海市</Option>
                                <Option value="shenzhen">深圳市</Option>
                            </Select>
                        </Form-item>
                    </Form>
                </Modal>
            </div>
        </div>
        <div class="layout-copy">
            Powered By 好租
        </div>
    </div>
</template>
<script>
export default {
    name: "login",
    data() {
        return {
            columns3: [
                {
                    type: 'index',
                    width: 60,
                    align: 'center'
                },
                {
                    title: '网点名称',
                    width: 150,
                    key: 'name',
                      render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'text',
                                    size: 'small'
                                },
                                on: {
                                    click: () => {
                                        // this.show(params.index)
                                        // alert(111)
                                        this.$router.push({
                                            "name":"bean",
                                            params:{
                                                "index":"login"
                                            }
                                        })
                                    }
                                }
                            }, '优客工场百子湾')
                        ])
                    }
                },
                {
                    title: '总工位',
                    key: 'age'
                },
                {
                    title: '已租工位',
                    key: 'readed'
                },
                {
                    title: '空置工位',
                    key: 'space'
                },
                {
                    title: '30天到期工位',
                    key: 'mounth'
                },
                {
                    title: '着火工位',
                    key: 'fire'
                },
                {
                    title: '好租同步工位',
                    key: 'good'
                },
                {
                    title: '好租快推户型/上限',
                    width: 120,
                    key: 'limit'
                },
                {
                    title: '空置率',
                    width: 100,
                    key: 'empity'
                },
                {
                    title: '操作',
                    key: 'action',
                    width: 200,
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'text',
                                    size: 'small'
                                },
                                on: {
                                    click: () => {
                                        // this.show(params.index)
                                        alert(111)
                                    }
                                }
                            }, '空间租控'),
                            h('Button', {
                                props: {
                                    type: 'text',
                                    size: 'small'
                                },
                                on: {
                                    click: () => {
                                        this.$router.push({
                                            name: "resourse",
                                            params: {
                                                "index": "resourse"
                                            }
                                        })
                                    }
                                }
                            }, '房源管理')
                        ]);
                    }
                }
            ],
            data1: [
                {
                    name: '优客工场海龙大厦店',
                    age: 34,
                    readed: '34个',
                    space: "34个",
                    mounth: "34个",
                    fire: "34个",
                    good: "34个",
                    limit: "34个",
                    empity: "34个",
                    do: "zzzz"
                },
                {
                    name: '优客工',
                    age: 34,
                    readed: '34个',
                    space: "34个",
                    mounth: "34个",
                    fire: "34个",
                    good: "34个",
                    limit: "34个",
                    empity: "34个",
                    do: "zzzz"
                }
            ],
            modal1: false,
            formItem: {
                name: '',
                num: '',
                hotole: "",
                list: '',
                nums: '',
                group: ""
            },
            modal2: false,
        }
    },
    methods: {
        manage() {

        },
        userInfo(){
            this.$router.push({
                "name":"user",
                params:{
                    "index":"user"
                }
            })
        },
        ok() {
            this.$Message.info('点击了确定');
        },
        cancel() {
            this.$Message.info('点击了取消');
        }
    }
}
</script>
<style lang="scss">
html,
body {
    width: 100%;
    height: 100%;
    #app {
        width: 100%;
        height: 100%;
    }
}

.bg {
    border-left: 1px solid #fff;
}

.ivu-modal-footer {
    text-align: center;
}

.page {
    float: right;
}

.ivu-table td {
    text-align: center;
}

// .nums{
//     width: 100%;
//     display: flex;
// }
.ivu-table th {
    font-size: 1.2px;
    font-weight: normal;
}

.show:after {
    content: "";
    display: block;
    width: 0px;
    clear: both;
}

.show {
    height: 150px;
    background: #fff;
    margin-bottom: 10px;
    .show-left {
        width: 25%;
        float: left;
        vertical-align: middle;
        dl {
            width: 100%;
            margin-top: 50px;
            padding-left: 10px;
            dd {
                float: left;
            }
            dt {
                float: left;
                border-right: 1px solid #000;
                height: 60px;
                padding: 0 20px;
                p {
                    margin-top: 10px;
                }
            }
        }
    }
    .show-right {
        width: 75%;
        float: right;
        height: 150px;
        ul {
            height: 150px;
            display: flex;
            align-items: center;
            li {
                display: flex;
                flex-direction: column;
                width: 14%;
                u {
                    margin-top: 10px;
                }
            }
        }
    }
}

.title {
    height: 40px;
    display: block;
    width: 100%;
    color: lightgreen;
    line-height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    .title-right {
        float: right;
        span {
            display: inline-block;
            width: 100px;
            line-height: 40px;
            border: 1px solid lightgreen;
            text-align: center;
            background: #fff;
            border-radius: 3px;
        }
    }
}

.layout {
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    height: 100%;
}

.layout-logo {
    width: 100px;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    float: left;
    position: relative;
    top: 15px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    left: 20px;
    font-size: 18px;
}

.layout-nav {
    width: 848px;
    margin: 0 auto;
}

.layout-assistant {
    width: 100%;
    height: inherit;
}

.layout-breadcrumb {
    padding: 10px 15px 0;
}

.layout-content {
    min-height: 200px;
    background: rgba(238, 238, 238, 1);
    margin: 15px;
    overflow: hidden;
    border-radius: 4px; // height: 80%;
}

.ivu-table th {
    text-align: center;
    line-height: 30px;
}

.ivu-table-cell {
    padding-left: 0px;
    padding-right: 0px;
}

.layout-content-main {
    padding: 10px;
}

.layout-copy {
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
}
</style>


